body, html {
    user-select: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 2.7rem;
}
nav a:hover{
    border-bottom: 2.1px solid #000;
    color:darkcyan;
}

/* Style for Home Section */
#home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    background: black
}

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 2rem;
    line-height: 1.2;
}

/* Main Content Styles */
.content {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1 {
    text-align: center;
    margin: 20px;
}

.box1 img {
    max-width: 100%;
    height: auto;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    /*background-image: url('footer.jpg'); */
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.8;
}

footer h3 {
    font-size: 18px;
    margin: 14px;
    padding: 3px;
}



